---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

div.input {
  // display: box;
  // box-orient: horizontal;
  // box-align: stretch;
  display: flex;
  flex-direction: row;
  // align-items: stretch;
  border: thin black solid;
  overflow: scroll;
}

div.prompt {
  color: #303F9F;
  min-width: 14ex;
  padding: 0.4em;
  margin: 0px;
  text-align: right;
  font-family: monospace;
  line-height: 1.21429em;
}

div.input_area {
  border: 1px solid #cfcfcf;
  // border-radius: 2px;
  // background: #f7f7f7;
  // line-height: 1.21429em;
  // box-sizing: border-box;
  display: block;
  // font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
}

// .input_area div.highlighter-rouge {
//     background-color: #f7f7f7  !important;
//   }
  
.output_stream, .output_data_text, .output_traceback_line {
  margin-left: 2% !important;
  border: none !important;
  border-radius: 4px !important;
  background-color: #fafafa !important;
  box-shadow: none !important;
}

.output_stream:before, .output_data_text:before, .output_traceback_line:before{
  content: none !important;
}