---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.prompt {
  font-family: monospace;
  font-size: 15px;
}

.input_prompt {
  color: #303F9F;
}

.output_prompt {
  color: #D84315;
}

table {
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.dataframe tbody tr th:only-of-type {
  vertical-align: middle;
}

.dataframe tbody tr th {
  vertical-align: top;
}

.dataframe thead th {
  text-align: right;
}

td {
  text-align: right;
}